/* Reset some default browser styles */
body, h1, h2, p, ul, li, a, img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* Basic styling */
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #F5F7F8;
    color: #45474B;
    padding-top: 70px;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

section h2 {
    color: #45474B;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

.highlight {
    background-color: #87ceeb;
    padding: 2px 4px; /* Padding for space around the highlighted text */
    border-radius: 4px; /* Rounded corners for a nicer look */
}


/* Container */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header styling */
header {
    background: #F5F7F8;
    color: #45474B;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.home-button a {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #45474B;
    text-decoration: none;
    font-weight: normal;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    font-family: 'Lato', sans-serif;
    color: #45474B;
    text-decoration: none;
    font-size: 24px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Hero section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F7F8;
    /*background: #ac3c61;*/
    padding: 60px 30px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.hero-text {
    max-width: 50%;
    color: #45474B;
}

.hero-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 2.0;
}

.hero-buttons {
    display: flex;
    gap: 10px;
}

.hero-buttons .btn-primary {
    text-decoration: none;
    background: #ac3c61;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
}

p a.btn-primary {
    text-decoration: underline;
    color: #f4ce14; /* Change to your desired color */
    font-style: italic;
    background: none; /* Remove background */
    padding: 0; /* Remove padding */
    border-radius: 0; /* Remove border radius */
    border: none; /* Remove border */
}

.hero-buttons .btn-primary:hover {
    background: #fff;
    color: #ac3c61;
}

.hero-buttons .btn-secondary {
    text-decoration: none;
    background: #EEE2DC;
    color: #ac3c61;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid #ac3c61;
}

.hero-buttons .btn-secondary:hover {
    background: #e6f0ff;
}

.hero-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

/* Projects section */
.projects {
    padding: 20px 0;
}

.projects h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #45474B;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20 px;
}

.project-card {
    position: relative;
    margin: auto;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project-card img {
    width: 100%;
    height: auto;
    display: block;
}

.project-info {
  padding: 20px;
  background: white;
  box-sizing: border-box;
  transition: background 0.3s;
  text-align: center;
}

.project-card:hover .project-info {
  background: rgba(255, 255, 255, 0.9);
}

.project-info h3 {
  margin: 0;
  font-size: 1.5em;
}

.project-info p {
  font-size: 1em;
  margin: 10px 0;
}

.tags {
  display: block;
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #666;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background: #87ceeb;
  color: #45474B;
  text-decoration: none;
  border-radius: 15px;
  transition: background 0.3s;
  margin-top: 10px;
  font-weight: bold;
}

.cta-button:hover {
  background: #0056b3;
}

@media (max-width: 768px) {
    .project-grid {
        gap: 15px;
        padding: 0 10px;
    }

    .project-card {
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .project-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 10px;
        padding: 0 5px;
    }

    .project-card {
        margin: 0 auto;
    }
}


/* About section */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.about .profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.about-text {
    max-width: 600px;
}

.about ul {
    list-style-type: square;
    padding-left: 20px;
}

.about ul li {
    margin-bottom: 10px;
}

/* Project detail page styling */
.project-detail {
    padding: 40px 0;
}


.project-detail h2 {
    color: #45474B;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
    text-align: center;
}

.project-detail img {
    display: block;
    max-width: 100%;
    margin: 20px auto;
}

.project-detail ul {
    list-style-type: disc;
    padding-left: 40px;
}

.project-detail p, .project-detail ul {
    margin-bottom: 20px;
}

/* Footer styling */
footer {
    background: #F5F7F8;
    color: #45474B;
    padding: 10px 0;
    text-align: center;
}
