/* Reset some default browser styles */
body, html {
    margin: 0;
    padding: 0;
    outline: 0;
    height: 100%;
    font-size: 100%;
    vertical-align: baseline;
}

/* Basic styling */
body {
    background-color: #F5F7F8;
    color: #45474B;

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    min-height: 100vh;

    padding-top: 20px;
}

header {
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    text-align: center;
}

h3 {
    font-size: 24px;
}

.highlight {
    background-color: #87ceeb;
    padding: 2px 4px; 
    border-radius: 4px; 
}

/* Header & Navbar */

.navbar {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo a {
    padding: none;
    margin: none;
}

header a {
    font-size: 18px;
    text-decoration: none;
    color: #45474B;
}

header a:hover {
    text-decoration: underline;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header li {
    padding: 5px;
    margin-left: 20px;
}

.nav-menu-visible {
    display: flex !important;
}

.burger {
    display: none; /* Initially hidden */
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
}


@media (max-width: 667px) {
    .navbar {
        position: relative;
    }

    .nav-links {
        display: none; /* Hidden by default on smaller screens */
        flex-direction: column;
        position: absolute;
        background-color:rgba(255, 204, 0, 1); /* Same color as the navbar */
        top: 30px;
        right: 0;
        text-align: center;
    }

    .nav-links a {
        padding: 10px;
    }

    .burger {
        display: block;
    }
}


/* Hero */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.hero-text {
    font-size: 32px;
    line-height: 2.0;
    text-align: left;
    padding: 0 50px 0 0;
}

.hero img {
    max-width: 400px;
    padding: 10px;
}

.btn-hero {
    /*color: #000080;*/
    color:#45474B;
    font-style: italic;
}

@media (max-width: 667px) {
    .hero {
        flex-wrap: wrap;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 0 5px;
    }

    .hero-text {
        font-size: 24px;
        text-align: center;
        padding: 0 0 0 0;
    }

    .hero img {
        display: none;
    }

}

/* Project Section Landingpage */

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.project-grid {
    display: flex;
    gap: 150px;

} 

.project-card {
   /* display: flex;
    flex-direction: column;
    align-items: center;*/
    border-radius: 10px;
    position: relative;
    margin: auto;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.project-card img {
    width: 100%;
    border-radius: 10px;
    height: 220px;
    display: block;
    object-fit: cover;
}

.project-info {
    padding: 20px;
    background: white;
    box-sizing: border-box;
    transition: background 0.3s;
    text-align: center;
}

.project-info h3 {
    margin: 0;
    font-size: 1.5em;
}

.project-card p {
    text-wrap: wrap;
    text-align: center;
    font-size: 1em;
    margin: 10px 0;
}


.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background: #87ceeb;
    color: #45474B;
    text-decoration: none;
    border-radius: 15px;
    transition: background 0.3s;
    margin-top: 10px;
  
  }
  
  .cta-button:hover {
    background: #f4ce14;
    color: #45474B;
  }


.project-card a {
    padding: 10px;
    color:#45474B;
    text-decoration: none;
}

.tags {
    display: block;
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #666;
  }
  

@media (max-width: 667px) {
    .project-grid {
        flex-wrap: wrap;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 0 5px;
    }

    .project-card {
        margin: 0 auto;
    }

}


/* Footer Section */

footer p {
    text-align: center;
    font-size: 16px;
}

/* Project Pages */

.project-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 10px;
    background-color: #87ceeb;
}


.project-content {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    align-items: center;

}

.project-text {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    justify-content: space-around;
}

.project-content p {
    text-wrap: wrap;
    text-align: justify;
}

.project-content img {
    height: 350px;
}

.project-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

.project-content-single {
    display: flex;
    justify-content: center;
    padding: 0 15%;
}

@media (max-width: 667px) {
    .project-hero h1 {
        font-size: 40px;
        text-align: center;
        margin: 5px 0;
        padding: 0 10px;
    }

    .project-hero h2 {
       font-size: 24px;
       text-align: center;
        padding: 0 20px;
        margin: 5px 0;
    }

    .project-content {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        padding: none;
        align-items: center;
    }

    .project-text {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        justify-content: center;
    }

    .project-content-single {
        display: flex;
        justify-content: center;
        padding: 0 0;
    }

    .project-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0 0 0;
    }

    .project-content img {
        height: 200px;
    }

}



/* About Pages */

.about-hero {
    width: 100%;
    
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: #F5F7F8;
}

.about-content {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    align-items: flex-start;
    border: 1px solid ;
}

.about-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-image img {
    border-radius: 50%;
    height: 400px;
}

.about-image a {
    font-style: italic;
    color: #45474B;
}